*
{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: 'Lobster', cursive;
font-family: 'Fira Sans', sans-serif;
}
header{

 border-bottom: #f3f3f3f3 solid 10px;
    background-color:#CD7F32;
    height: 70px;
}
header #branding{
    margin-top: 15px;
    /* margin-left: 35px; */
   color: gray;
    float: left;
}
header h1 a ,header ul li a{
    color: aliceblue; 
/* text-transform: uppercase; */
}
header ul{
    padding-top: 25px;
}
header ul li{
   color: aliceblue;
    display: inline;
    margin-left: 50px; 
}

.container
{   overflow: hidden; 
    width:80%;
    margin: auto;
}

.showcase
{
    /* margin-bottom: 20px; */
    background-image: url('bg2.jpg');
    background-position: center center;
    background-attachment: fixed;
    min-height: 400px;
    padding-top: 200px;
    text-align: center;
    color:#f3f3f3f3;
    font-family: 'Lobster', cursive;

   
}
.showcase h1{
    font-size: 100px;
    color:brown;
}
.showcase p{

    color:brown;
    font-size: 25px;
}

#form
{
    margin-bottom: 10px;
background-color: #CD7F32;
height: 60px;
padding-top: 45px;

}
#form .brand
{
    color:#ffffff;
    font-size: 25px; 
    float: left;
}
#form .my-form
{
    float: right;
}

#form .my-form input[type='email']{
    padding:4px;
    height:25px;
    width:250px;
}
#btn{
    height:38px;
  background:brown;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
  /* width:250px; */
}
#main
{
    text-align: center;
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box; 
}

#side-bar
{ text-align: center;
    float: right;
    width: 30%;
background-color: #CD7F32;
    box-sizing: border-box;
    border: 3px solid brown; 
}
#footer
{

text-align: center;
background-color: #CD7F32;
height: 50px;
color: aliceblue;
margin-top: 25px;
padding-top: 25px;
}
